<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorGanttWasm</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Syncfusion Blazor Samples
            </NavLink>
        </li>
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="ganttchartfeatures">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span>Gantt Chart
            </NavLink>
        </li>*@
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="initfilter">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> InitialFIltering(Flat)
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="filter">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> FIlterByButton(Flat)
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="hierfiltering">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> FilterHierarchyMode(Flat)
            </NavLink>

        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="flatfiltering">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> Filtering(FlatData)
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="clearfilter">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> ClearFilterByButton(Flat)
            </NavLink>
        </li>*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Toolbar">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> Toolbar
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Holiday">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> Holiday
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Weekend">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> Weekend
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Selection">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> Selection
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="EventMarkerSample">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> Event marker
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tooltip">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> Tooltip
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tooltiptemplate">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> Tooltip Template
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="taskbartemplate">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> Taskbar Template
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="events">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> Events
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ColumnTemplate">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> Column Template
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="RowTemplate">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> Row Template
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Resize">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> Column Resizing
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Reorder">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> Column Reordering
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
