<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorGanttWasm</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Syncfusion Blazor Samples
            </NavLink>
        </li>
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="ganttchartfeatures">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span>Gantt Chart
            </NavLink>
        </li>*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Toolbar">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> Toolbar
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Holiday">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> Holiday
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Weekend">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> Weekend
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Selection">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> Selection
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="EventMarkerSample">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> Event marker
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tooltip">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> Tooltip
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tooltiptemplate">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> Tooltip Template
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="flatDataFiltering">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> FlatData Filtering
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="flatDataInitialFiltering">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> FlatData-Initial Filtering
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="flatDataSearching">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> FlatData Searching
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="latDataInitialSearching">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span>  FlatData-Initial Searching
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="flatDataSpecificColumnSearching">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> FlatData-SpecificColumn Searching
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="sFDataExport">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> FlatData Export
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="sFDataExport-with-properties">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> FlatData Export-with Properties
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="export">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> Export
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="exportWithProp">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> Export-with Properties
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="contextMenu">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> ContextMenu
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="contextMenu-items-config">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> ContextMenu-items-Config
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="customContextMenu">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> CustomContextMenu
            <NavLink class="nav-link" href="taskbartemplate">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> Taskbar Template
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="events">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> Events
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ColumnTemplate">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> Column Template
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="RowTemplate">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> Row Template
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Resize">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> Column Resizing
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Reorder">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> Column Reordering
            </NavLink>
        </li>
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="Baseline">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> Baseline Sample
            </NavLink>
        </li>
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="Unscheduledtask">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span> Unscheduledtask Sample
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
